body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #91BDC0; 
    padding: 5px 5px 5px 10px;
}

#fixed-navbar {
    background-color: #D8E9ED;
    padding: 0%;
}

.navbar-nav.social-media {
    flex-direction: inherit;
}

.fa-linkedin-in, .fa-github {
    color: black;
}

#contact-button {
    background-color: #CAD66F;
    border-style: none;
    color: black;
}

button#contact-button:hover {
    background-color: #CDDEAB;
}

.jumbotron {
    color: white;
    background-image: url("IMG_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 0;
  }

#about-me {
    opacity: 75%;
    background-color: white;
    padding: 10px 10px 10px 10px;
    color: black;
}

.img {
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.col-sm-7 {
    margin: 10px;
}

.row {
    margin: 15px 0 15px 15px;
}

h1 {
    font-size: 32px;
    color: black;
    margin: 10px 0px 0px 10px;
}

.col-sm-3 {
    margin: 0 10px 10px 10px;
}

#styling {
    margin: 25px 25px 25px 25px;
    background-color: lightgray;
    padding: 10px 10px 0px 10px;
    border-style: solid;
    border-width: 1px;
    width: 90%;
}

form {
    background-color: lightgray;
    margin: 25px;
    padding: 10px 50px 50px 50px;
}